.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #111;
    color: white;
    z-index: 10;
  }
  
  .dashboard-left {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .dashboard-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .dashboard-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid red;
  }
  
  .dashboard-welcome {
    margin: 0 0.5rem;
  }
  
  .dashboard-logout {
    display: flex;
    align-items: center;
    color: red;
    cursor: pointer;
    font-weight: bold;
    gap: 0.25rem;
    font-size: 0.95rem;
  }
  
  .sidebar {
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #bb000e;
    color: white;
    transition: width 0.2s ease;
    overflow: hidden;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  .sidebar:hover {
    width: 250px;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .nav-links li {
    padding: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #fff;
    transition: background 0.3s;
    white-space: nowrap;
  }
  
  .nav-links li:hover,
  .nav-links li.active {
    background-color: #e31c25;
  }
  

  
  .label {
    display: inline-block;
    width: 100%;
  }